<div id="projects" class="background-alt">
    <h2 class="heading">Game Projects <i class="fa fa-gamepad" aria-hidden="true"></i></h2>
    <div class="container">

       

        <div class="row">
            <div class="project shadow-large">
                <div class="project-image bomberman">
                    <img src="assets/img/OpenWorldGame.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>Open World Game</b></h3>
                    <p>
                        <b>Open World Game was made using C# programming language and Unity Engine. The inspiration behind this game design and development is Grand Theft Auto series made by Rockstar Games.</b>
                        
                    </p>
                    <a href="https://www.youtube.com/watch?v=sFcIToZ3Ml4" target="_blank">Open World Game Video</a>  
                </div>
                <!-- End .project-info -->
            </div>
        </div>

        <div class="row">
            <div class="project shadow-large">
                <div class="project-image bomberman">
                    <img src="assets/img/CSC8599 Project and Dissertation.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>3D for Ancient Rome</b></h3>
                    <p>
                        <b>This game engineering software project was made using C# programming language and Unity Engine. This game engineering project is based on Hadrian's Wall, Vindolanda and the Ancient Roman era.</b>
                        
                    </p>
                    <a href="https://www.youtube.com/watch?v=kf_K8Qc-ups" target="_blank">CSC8599 Project and Dissertation in Computer Game Engineering Assignment Video</a>  
                </div>
                <!-- End .project-info -->
            </div>
        </div>

        <div class="row">
            <div class="project shadow-large">
                <div class="project-image bomberman">
                    <img src="assets/img/ThirdPersonGame.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>Third Person Game</b></h3>
                    <p>
                        <b>Third Person Game was made using C# programming language and Unity Engine. The whole game has mini boss and main boss where the player has to fight main boss to finish the game.</b>
                        
                    </p>
                    <a href="https://www.youtube.com/watch?v=xnEkKLsS7TI" target="_blank">Third Person Game Video</a>  
                </div>
                <!-- End .project-info -->
            </div>
        </div>
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/UnholyDragon.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>Unholy Dragon Game</b></h3>
                    <p>
                        <b>Unholy Dragon Game was made using Java Programming Language. “Unholy Dragon Game” is a 2D platformer game which consists of 4 levels. Level 1 has 18 enemies in total, Level 2 has 25 enemies in total and Level 3 has 33 enemies in total. These three levels is the build-up to the final level of the game Level 4 where the player has to fight giant portal boss to finish the game.</b>
                    </p>
                    <a href="https://www.youtube.com/watch?v=Rgd6GnvtGcY" target="_blank">Unholy Dragon Game Video</a>  
                </div>
                <!-- End .project-info -->
            </div>
        </div>
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/CSC8503 Advanced Game Technologies.gif" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>CSC8503 Advanced Game Technologies Assignment</b></h3>
                    <p>
                        <b>This assignment was done using C++ programming language and Open Gl. This was a Physics and Artifical Intelligence related assignment when i was studying my Master's Degree at Newcastle University.</b>
                    </p>
                    <a href="https://www.youtube.com/watch?v=Dhgs7fT5SGo" target="_blank">CSC8503 Advanced Game Technologies Assignment Video</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->

            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/HorrorDread.gif" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>Horror Dread Game</b></h3>
                    <p>
                       <b>Horror Dread Game was made was made using C# programming language and Unity Engine. This is a first person game.</b>
                    </p>
                    <a href="https://www.youtube.com/watch?v=xMwyi26mRZM"
                        target="_blank">Horror Dread Game Video</a>
                </div>
                <!-- End .project-info -->
            </div>

            

        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/3DHelicopterGame.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>3D Helicopter Game</b></h3>
                    <p>
                       <b>3D Helicopter Game was made was made using C# programming language and Unity Engine. This is a side scrolling running game.</b>
                    </p>
                    <a href="https://www.youtube.com/watch?v=FkY-QdZw8Og" target="_blank">3D Helicopter Game Video</a>  
                </div>
                <!-- End .project-info -->
            </div>
        </div>


        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/PokemonBattle.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>Pokemon Battle Game</b></h3>
                    <p>
                        <b>Pokemon Battle Game was made using Lua programming language.</b>
                    </p>
                    <a href="https://www.youtube.com/watch?v=RdcgWd7gUs0" target="_blank">Pokemon Battle Game Video</a>  
                </div>
                <!-- End .project-info -->
            </div>
        </div>


        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/SuperWarriorBros.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>Super Warrior Bros Game</b></h3>
                    <p>
                        <b>Super Warrior Bros Game was made using Lua programming language.</b>
                    </p>
                    <a href="https://www.youtube.com/watch?v=_5VJ2VwdTWU" target="_blank">Super Warrior Bros Game Video</a>  
                </div>
                <!-- End .project-info -->
            </div>
        </div>


        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/LinkandZelda.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>Link and Zelda Game</b></h3>
                    <p>
                        <b>Link and Zelda Game was made using Lua programming language.</b>
                    </p>
                    <a href="https://www.youtube.com/watch?v=6P6uargZWrs" target="_blank">Link and Zelda Game Video</a>  
                </div>
                <!-- End .project-info -->
            </div>
        </div>


        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/FireBird.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>Fire Bird Game</b></h3>
                    <p>
                        <b>Fire Bird Game was made using Lua programming language.</b>
                    </p>
                    <a href="https://www.youtube.com/watch?v=-LIgJ4uYTqA" target="_blank">Fire Bird Game Video</a>  
                </div>
                <!-- End .project-info -->
            </div>
        </div>

        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/Breakout.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>Breakout Game</b> </h3>
                    <p>
                        <b>Breakout Game was made using Lua programming language.</b>
                    </p>
                    <a href="https://www.youtube.com/watch?v=2OW5fK3lEDQ" target="_blank">Breakout Game Video</a>  
                </div>
                <!-- End .project-info -->
            </div>
        </div>

        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/MatchBlock.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>Match Block Game</b></h3>
                    <p>
                        <b>Match Block Game was made using Lua programming language.</b>
                    </p>
                    <a href="https://www.youtube.com/watch?v=iia928qLa0A" target="_blank">Match Block Game Video</a>  
                </div>
                <!-- End .project-info -->
            </div>
        </div>

        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                     <img src="assets/img/ProBuilderFPS.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>Pro Builder FPS Game</b></h3>
                    <p>
                        <b>Pro Builder FPS Game was made was made using C# programming language and Unity Engine. This is a first person game.</b>
                    </p>
                    <a href="https://www.youtube.com/watch?v=IIEiVdCzW5w" target="_blank">Pro Builder FPS Game Video</a>  
                </div>
                <!-- End .project-info -->
            </div>
        </div>


            <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/Pong.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3><b>Pong Game</b></h3>
                    <p>
                        <b>Pong Game was made using Lua programming language.</b>
                    </p>
                    <a href="https://www.youtube.com/watch?v=hSULA2OePLQ" target="_blank">Pong Game Video</a>  
                </div>
                <!-- End .project-info -->
            </div>
            </div>
            

        </div>

                <!-- End .project-info -->
            </div>
        </div>
            <!-- End .project -->
        </div>
    </div>
</div>
<!-- End #projects -->